[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/myplugins/start/goyo"]
    path = pack/myplugins/start/goyo
    url = https://github.com/junegunn/goyo.vim
[submodule "pack/myplugins/start/auto-pairs"]
    path = pack/myplugins/start/auto-pairs
    url = https://github.com/chun-yang/auto-pairs
[submodule "pack/myplugins/start/indentLine"]
    path = pack/myplugins/start/indentLine
    url = https://github.com/yggdroot/indentline
[submodule "pack/myplugins/start/limeligth"]
    path = pack/myplugins/start/limeligth
    url = https://github.com/junegunn/limelight.vim
[submodule "pack/myplugins/start/neodark"]
    path = pack/myplugins/start/neodark
    url = https://github.com/KeitaNakamura/neodark.vim
[submodule "pack/myplugins/start/nerdtree"]
    path = pack/myplugins/start/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "pack/myplugins/start/nerdtree-git-plugin"]
    path = pack/myplugins/start/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/myplugins/start/tagbar"]
    path = pack/myplugins/start/tagbar
    url = https://github.com/majutsushi/tagbar
[submodule "pack/myplugins/start/vim-gitgutter"]
    path = pack/myplugins/start/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "pack/myplugins/start/markdown"]
	path = pack/myplugins/start/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "pack/myplugins/start/markdown-preview"]
	path = pack/myplugins/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "pack/myplugins/start/pangu"]
	path = pack/myplugins/start/pangu
	url = https://github.com/hotoo/pangu.vim.git
[submodule "pack/myplugins/start/vim-polyglot"]
	path = pack/myplugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/myplugins/start/syntastic"]
	path = pack/myplugins/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "pack/myplugins/start/startify"]
	path = pack/myplugins/start/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/myplugins/start/smooth-scroll"]
	path = pack/myplugins/start/smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "pack/myplugins/start/onedark"]
	path = pack/myplugins/start/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "pack/myplugins/start/janah-theme"]
	path = pack/myplugins/start/janah-theme
	url = https://github.com/mhinz/vim-janah.git
[submodule "pack/myplugins/start/tabular"]
	path = pack/myplugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/myplugins/start/fzf"]
	path = pack/myplugins/start/fzf
	url = https://github.com/junegunn/fzf.git
